In [37]:
import pandas as pd

In [38]:
b1 = pd.read_csv('b9600.csv')
b1['baud'] = 9600
b2 = pd.read_csv('b38400.csv')
b2['baud'] = 38400
b3 = pd.read_csv('b230400.csv')
b3['baud'] = 230400

df = pd.concat([b1,b2,b3])

In [39]:
df.head()

   tprop   fer  infosize       time  baud
0      0  0.00       256  12.682075  9600
1      0  0.00       512  12.150566  9600
2      0  0.00      1024        NaN  9600
3      0  0.00      2048  39.454936  9600
4      0  0.01       256  12.682848  9600

In [40]:
df.dtypes

tprop         int64
fer         float64
infosize      int64
time        float64
baud          int64
dtype: object